body,
html {
  font-family: 'Roboto', sans-serif;
  background: #f6f7fc;
}
p {
  color: #b3b3b3;
  font-weight: 300;
}
.form-title {
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Roboto', sans-serif;
}
/* .App {
  background: linear-gradient(blue, 10%, pink);
} */
.profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  text-align: center;
}
.profile div {
  width: 40vw;
  word-wrap: break-word;
}
.input-block {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.counter {
  text-align: end;
}
input,
label,
span,
textarea,
button {
  width: 300px;
}
.error,
.counter {
  font-size: 8pt;
}
label {
  margin: 10px 10px 10px 0;
  text-align: left;
}
.error {
  color: red;
}
.form-control {
  border: none;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  height: 34px;
  background: #fff;
}
.form-control:active,
.form-control:focus {
  outline: none;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}
.cancel:hover {
  background-color: #cfa5a9;
}
.confirm:hover {
  background-color: #a5cfaa;
}
button {
  margin: 10px;
  background-color: #ffffff;
  border: 0;
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #111827;
  /* font-family: 'Inter var', ui-sans-serif, system-ui, -apple-system, system-ui,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'; */
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: 0.75rem 1rem;
  text-align: center;
  text-decoration: none #d1d5db solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

/* button:hover {
  background-color: rgb(249, 250, 251);
} */

button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

button:focus-visible {
  box-shadow: none;
}
